* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mainWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem auto;
    width: 80vw;
    height: 80vh;
    box-shadow: inset 2rem 2rem 8rem #FF973D;
    border: 2px solid black;
    border-radius: 50px;
}

.top,
.bottom {
    background-color: white;
    box-shadow: inset 1rem 1rem 4rem #F9DF91;
    border-radius: 50px;
    width: 80%;
    margin: 2rem;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.top {
    height: 20%;
}

.bottom {
    height: 60%;
}

button {
    padding: 1rem;
    margin: 2rem;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background: linear-gradient(white , blue);
    transition: all 2s;
}

button:hover {
    transform: scale(1.2) skew(25deg);
    border-color: cyan;
}

.bottom p {
    padding: 1rem;
    background-color: lightgray;
    border-radius: 20px;
    margin: 2rem;
    font-weight: bold;  
    font-size: 18px;
}

#map {
    width: 90%;
    height: 90%;
    border: 2px solid purple;
    border-radius: 20px;
    box-shadow: 4px 4px 20px cyan;
    display: none;
}

.detailed {
    width: 70%;
    height: 70%;
    box-shadow: inset 10px 10px 100px blue, inset -10px -10px 100px blue ;
    background-color: green;
    border: 5px double blue;
    border-radius: 20px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 10px;
    transition: all 2s;
}

.detailed:active{
    transform: scale(1.3);
    color: white;
    background-color: white;
}

output {
    width: 80%;
    background-color: lightgray;
    padding: 5px;
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
}