body {
    margin: 20px
}

.types #mainLabel {
    display: block;
    margin-bottom: 10px;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

.option {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    padding-left: 10px;
}

.add,
.search, .news {
    margin-top: 30px;
}

.add input,
.search input {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid;
    margin-right: 40px;
    padding-left: 10px;
}

.add button {
    height: 30px;
    width: 80px;
    border-radius: 10px;
    border: 1px solid;
    background-color: bisque;
}

.search label {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 18px;
}

.search input {
    padding-left: 10px;
    margin-left: 10px;
}

.news table, th, td {
    width: 600px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.news th {
    background-color: beige;
}