* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

.mainwrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-rows: 0.2fr 1fr 1fr 1fr;
    grid-template-areas: "side header header header header"
                         "side mainGallery mainGallery mainGallery mainGallery"
                         "side mainGallery mainGallery mainGallery mainGallery"
                         "side mainGallery mainGallery mainGallery mainGallery";
}

.sideInfo {
    grid-area: side;
}

.sideInfo>ul>li{
    list-style: none;
    padding-bottom: 0.4em;
}


.sideInfo>ul>li>a{
    text-decoration: none;
    color: gray;
    font-size: 16px;
    margin: 2em;
}

.sideInfo ul li:nth-child(1) a{
    color: black;
}

.sideInfo #logo {
    width: 10rem;
    height: 5rem;
    margin-left: 2em;
    margin-top: 2em;
    margin-bottom: 1em;
}

.socialIcons {
    display: flex;
    flex-direction: row;
}

.sideInfo h4 {
    color: darkslategray;
    font-size: 18px;
    margin: 1.5em 2em 0em 2em;
}

.sideInfo p {
    color: gray;
    margin: 1em 2.5em;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5em 2em;
    width: 15em;
}

.gallery img {
    width: 4em;
    height: 4em;
    margin: 0.4em;
}

.socialIcons {
    margin: 2em 2em 2em 1.5em;
}

.socialIcons>img {
    width: 2em;
    height: 2em;
    margin: 0.5em;
    border: 1px solid gray;
    border-radius: 50%;
    padding: 0.2em;
}

.header {
    grid-area: header;
    background-color: #CDB881;
    display: flex;
    align-items: center;
    height: 7vh;
}

.header ul {
    display: flex;
    align-items: center;
    padding-left: 1em;
}

.header>ul>li{
    list-style: none;
}

.header>ul>li>a {
    text-decoration: none;
    margin: 1em;
    color: white;
}

.header ul li:nth-child(1) {
    border-radius: 0.5em;
    padding: 0.1em;
    background-color: #B9A772;
}

.mainGallery{
    grid-area: mainGallery;
    display: flex;
    flex-wrap: wrap;
}

.mainGallery img {
    width: 25%;
    height: 31vh;
}