* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mainWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem auto;
    width: 80vw;
    height: 80vh;
    box-shadow: inset 2rem 2rem 8rem #FF973D;
    border: 2px solid black;
    border-radius: 50px;
}

.top , .bottom {
    background-color: white;
    box-shadow: inset 1rem 1rem 4rem #F9DF91;
    border-radius: 50px;
    width: 80%;
    height: 40%;
    margin: 2rem;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.top>img, .bottom>img{
    width: 20%;
    height: 80%;
    margin: 1rem;
    border: 5px groove cyan;
    transition: all 2s;
}

.top>img:hover, .bottom>img:hover {
    transform: rotate(360deg) scale(1.5);
}

.top {
}

.bottom {
}