* {
    margin: 0;
    padding: 0;
}

.topSection {
    width: 100%;
    color: white;
    text-align: center;
    background-image: url(images/header-image-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    align-content: center;
}

.topSection h1 {
    margin: 1%;
    font-size: 38px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.topSection p {
    margin: 1% 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.topSection button {
    padding: 1%;
    border: 1px solid white;
    border-radius: 10px;
    border-color: white;
    background-color: transparent;
    color: white;
    font-weight: bold;
    margin: 1%;
    transition: all 0.5s;
}

.topSection button:hover{
    background-color: orange;
}

.activities {
    margin: 3%;
    text-align: center;
}

.activities h2 {
    font-size: 38px;
    margin-bottom: 1%;
}

.activities hr {
    width: 20%;
    justify-self: center;
    height: 1px;
    background-color: purple;
    margin-bottom: 2%;
}

.allCards {
    display: inline-block;
    margin: 1%;
}

.activityCard {
    display: inline-block;
    text-align: center;
    width: 30%;
    transition: all 0.5s;
}

.activityCard img {
    width: 300px;
    height: 200px;
    border: none;
    vertical-align: middle;
}

.activityCard p{
    margin: 2% 10%;
}

.iconsDiv{
    display: none;
    width: 300px;
    background-color: #FA8072;
    padding: 1% 0;
    border: none;
    margin: 0 auto;
    transition: all 0.5s;
}

.iconsDiv img {
    width: 20px;
    height: 60%;
    border: 1px solid white;
    border-radius: 50%;
    padding: 2%;
    margin: 0 3%;
    transition: all 0.5s;
    vertical-align: top;
}

.iconsDiv img:hover {
    background-color: white;
}

.activityCard:hover .iconsDiv{
    display: block;
}

.gallery{
    width: 100%;
    text-align: center;
    font-size: 0;
}

.galleryImg {
    display: inline-block;
    width: 25%;
}

.galleryImg img {
    width: 100%;
    height: 250px;
    opacity: 60%;
    transition: all 0.5s;
    vertical-align: text-bottom;
}

.gallery p{
    margin: 2%;
    font-size: 16px;
    display: none;
}

.galleryImg img:hover {
    opacity: 100%;
}

.galleryImg:hover p{
    display: block;
}

@media all and (orientation:portrait) {

    .topSection p {
        margin: 4%;
    }
    
    .topSection button {
        padding: 4%;
    }

    .activities h2 {
        margin: 5%;
    }

    .activities hr {
        margin-bottom: 5%;
    }

    .activityCard {
        width: 100%;
        margin-bottom: 5%;
    }

.galleryImg {
    display: block;
    width: 100%;
    margin: 5% 0;
}

.galleryImg img {
    opacity: 100%;
}

.galleryImg p {
    display: block;
}
}