body {
    margin: 20px;
    font-size: 20px;
}

span {
    font-size: 14px;
    color: red;
}

.field {
    margin: 10px;
}
input[type="text"] {
    width: 200px;
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;
    margin-left: 10px;
}

select {
    margin-left: 10px;
    width: 100px;
    height: 20px;
}

input[type="checkbox"]{
    margin: 10px;
}

input[type="submit"], input[type="reset"]{
    width: 100px;
    height: 30px;
    border-radius: 5px;
}

