body{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.table-container{
    width: 20%;
    margin: 20px auto;
    border-top: 10px solid darkgray;
    border-left: 10px solid darkgray;
    border-bottom: 10px solid gray;
    border-right: 10px solid gray;
}

table{
    width: 100%;
    background-color: #EEE8EE;
    border-spacing: 6px;
    border-style: outset;
    text-align: center;
}

td{
    border: 1px solid gray;
    padding: 5px 5px;
}
.color-codes {
    text-align: left;
}

tr{
    font-weight: bold;
}