.instructions h1{
    background-color: lightgray;
    text-align: center;
    text-decoration: underline;
    color: darkgreen;
}

.instructions img{
    width: 300px;
}

.instructions p{
    font-size: 16px;
    font-family: "Delius", cursive;
}

.ingredients p{
    font-size: 24px;
    background-color: lightgray;
    text-decoration: underline;
    color: darkgreen;
}

.ingredients ul li{
    font-family: "Delius", cursive;
    font-size: 16px;
}

.directions p {
    font-size: 24px;
    background-color: lightgray;
    text-decoration: underline;
    color: darkgreen;
}

.directions span{
    font-weight: bold;
}

.directions li{
    font-size: 16px;
    font-family: "Delius", cursive;
}

.commentslinks .title{
    font-size: 24px;
    background-color: lightgray;
    text-decoration: underline;
    color: darkgreen;
}

.commentslinks .content{
    background-color: lightyellow;
    margin: 20px 40px 0 40px;
    font-size: 16px;
    font-family: "Delius", cursive;
}

.commentslinks a{
    display: block;
    font-size: 16px;
    font-family: "Delius", cursive;
    color: darkgreen;
}

.commentslinks img{
    margin-top: 10px;
    width: 200px;
}