*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainWrapper{
    width: 80vw;
    height: 80vh;
    margin: 20px auto;
    display: flex;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    box-shadow: inset 2rem 2rem 8rem #FF973D;
}

.videosList, .videoWrapper {
    background-color: white;
    box-shadow: inset 1rem 1rem 4rem #F9DF91;
    height: 90%;
    border: 2px solid black;
    border-radius: 1.5rem;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videosList {
    flex-basis: 30%;
}

.videoWrapper{
    flex-grow: 1;
}

video {
    width: 60%;
    border-radius: 20%;
    transition: all 2s;
}

video:hover {
    width: 100%;
}

.videoNames {
    background-color: white;
    border: 1px solid black;
    padding: 0.3rem;
    text-align: center;
    transition: all 2s;
}

.videoNames:hover {
    background-color: orange;
}

.videoNames button{
    padding: 0.5rem;
    border: 2px solid #3059A3;
    border-radius: 1rem;
    margin: 0.3rem;
    transition: all 2s;
}

.videoNames button:hover {
    transform: rotate(360deg);
    background-color: white;
}

.videoNames button:active {
    background-color: #3059A3;
}