*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.mainWrapper {
    margin: 20px auto;
    background-color: yellow;
    border: 2px solid black;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 80vw;
    height: 30vh;
    box-shadow: 5px 5px 20px black;
}

.add, .multi {
    font-weight:bold ;
    font-size: 20px;
    flex-grow: 1;
    margin: 1rem;
    padding: 50px 20px 20px 40px;
    height: 75%;
    border:1px solid black;
    border-radius: 10px;
    box-shadow: inset 3px 3px 30px rgba(0, 0, 0, 0.5), inset -3px -3px 30px rgba(0, 0, 0, 0.5);
}

.operationMul>input, .operationAdd>input{
    padding: 10px;
    width: 80px;
    margin: 5px;
    border-radius: 5px;
}

.add{
    background-color: orange;
}
.multi {
    background-color: green;
}